<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="shortcut icon" href="../static/img/logo/icon.svg" type="image/svg+xml">
    <title>Portfólio do João</title>
</head>
<body>
    <header class="header" id="header">
        <img src="../static/img/logo/jogo-logo-black.svg" class="logo" id="logo" value="cor" alt="Portfólio João Rodrigues" type="image/svg+xml">
        <div class="header-menu" id="header-menu">
            <button class="header-about-me" id="header-about-me">Sobre Mim</button>
            <a href="#contato"><button class="header-contact" id="header-contact" value="hidden">Contato</button></a>
        </div>
    </header>
    <div class="flex-container">
        <div class="sobre-mim">
            <img src="../static/img/perfil.jpg" alt="Foto de Perfil de João Rodrigues" class="foto-perfil">
            <h1>Oi, eu sou o João!</h1>
            <h2>E este é o meu portfólio. :)</h2>
            <p class="texto-bio">Estudante de Publicidade & Propaganda e Ciência de Dados. Mais de 5 anos de experiência em design e direção de arte. Do projeto de marca, até a aplicação de BigData e Machine Learning, pode contar comigo para seu projeto.
            Aqui nessa página você pode conferir alguns dos projetos em que já trabalhei. <br><span class="destaque-texto">Quer conversar comigo?</span> Use o formulário no fim da página ou me procure nas redes sociais com <span class="destaque-texto">@joaodath</span>.</p>
            <br><p class="hashtags-bio">#python #machinelearning #datascience #branding #marketingdigital</p>
        </div>
        <div class="menu">
            <button class="navbar2" id="python-btn" value="hidden">Python</button>
            <button class="navbar2" id="frontend-btn" value="hidden">Frontend</button>
            <button class="navbar2" id="branding-btn" value="hidden">Branding</button>
            <a href="#contato"><button class="navbar2" id="fale-comigo-btn" value="hidden">Fale Comigo</button></a>
        </div>
        <!-- Bloco de Código que aparece apenas quando não há nenhuma categoria do portfólio sendo exibido -->
        <div class="portf-placeholder" id="portf-placeholder">
            <h2><span class="destaque-texto">Experimente selecionar uma categoria do meu portfólio no menu acima!</span></h2>
        </div>
        <!-- Blocos de Código Reutilizável projetos-python pelo Javascript -->
        <div class="projetos-python-container">
                <div class="projetos-python-row">
                <div id="projeto01" class="python" value="01">
                    <!-- Insira aqui Projeto 01 -->
                    <iframe width="400" height="225" src="https://www.youtube.com/embed/sAiTuitN5b8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                <div id="projeto02" class="python" value="02">
                    <!-- Insira aqui Projeto 02 -->
                    <iframe width="400" height="225" src="https://www.youtube.com/embed/Jsj-hDW9bS8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                <div id="projeto03" class="python" value="03">
                    <!-- Insira aqui Projeto 03 -->
                    <iframe width="400" height="225" src="https://www.youtube.com/embed/e0OEmrHzJjk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
        </div>
        <!-- Blocos de Código Reutilizável projetos-frontend pelo Javascript -->
        <div class="projetos-frontend-container">
            <div class="projetos-front-row">
                <div id="projeto01" class="front" value="01">
                    <!-- Insira aqui Projeto 01 -->
                    <iframe width="400" height="225" src="https://youtube.com/embed/7SWvDHvWXok" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                <div id="projeto02" class="front" value="02">
                    <!-- Insira aqui Projeto 02 -->
                    <iframe width="400" height="225" src="https://youtube.com/embed/I2O7blSSzpI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                <div id="projeto03" class="front" value="03">
                    <!-- Insira aqui Projeto 03 -->
                    <iframe width="400" height="225" src="https://www.youtube.com/embed/1Ggl2ydtK4k" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
        </div>
        <!-- Blocos de Código Reutilizável projetos-branding pelo Javascript -->
        <div class="projetos-branding-container">
            <div class="projetos-branding-row">
                <div id="projeto01" class="branding" value="01">
                    <!-- Insira aqui Projeto 01 -->
                    <iframe width="400" height="225" src="https://www.youtube.com/embed/x6btmJSRueE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                <div id="projeto02" class="branding" value="02">
                    <!-- Insira aqui Projeto 02 -->
                    <iframe width="400" height="225" src="https://www.youtube.com/embed/qJ9eYefnKP0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                <div id="projeto03" class="branding" value="03">
                    <!-- Insira aqui Projeto 03 -->
                    <iframe width="400" height="225" src="https://www.youtube.com/embed/t7I9XZaZ33E" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
        </div>
        <div class="contato" id="contato">
            <h2>Vamos marcar um café?</h2>
            <!-- Insira aqui os ícones de redes sociais -->
            <!-- Insira aqui o formulário de contato -->
            <form action="='/send" method="POST">
                <label for="nome">Nome</label>
                <input type="text" placeholder="Digite seu nome" id="nome" name="nome">

                <label for="email">E-mail</label>
                <input type="email" placeholder="Digite seu email" id="email" name="email">

                <label for="mensagem">Mensagem</label>
                <textarea name="mensagem" id="mensagem" cols="30" rows="10" placeholder="Digite sua mensagem"></textarea>

                <button type="submit" id="enviar">Enviar</button>
            </form>
        </div>
    </div>
    <footer class="footer" id="footer">
        <img src="../static/img/logo/jogo-logo-black.svg" class="logo-footer" id="logo-footer" value="cor" alt="Portfólio João Rodrigues" type="image/svg+xml">
        <img src="../static/img/logo/made-black.svg" class="made-love" id="made-love" alt="Feito com Amor por @joaodath" type="image/svg+xml">
        <div class="footer-menu" id="footer-menu">
            <a href="https://github.com/joaodath"><button class="footer-github" id="footer-github">GitHub</button></a>
            <a href="https://linkedin.com/in/joaodath"><button class="footer-linkedin" id="footer-linkedin" value="hidden">Linkedin</button></a>
        </div>
    </footer>
</body>
<script src="../static/js/scripts.js"></script>
</html>